* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 10px;
}
.main-container {
  width: 90%;
}
.main-title {
  font-size: 2rem;
  text-align: center;
}
.main-title i {
  color: rgb(196, 37, 37);
}
aside {
  width: 90%;
  height: 70px;
}
.buttons {
  width: 90%;
  padding: 5px;
  justify-content: space-around;
}
.select-wrap {
  margin: 0 25px;
  background-color: rgb(212, 16, 16);
}
.dropdown {
  font-weight: 600;
  background: transparent;
  border: none;
  width: 100%;
  height: 70%;
  padding: 5px;
}
option {
  padding: 5px;
}
.graph-container {
  position: relative;
  width: 80%;
}

.error-container {
  width: 80%;
  text-align: center;
  color: red;
  font-size: 1rem;
}
.country-content {
  width: 90%;
  min-height: 300px;
}
.country-stats {
  width: 90%;
  justify-content: space-evenly;
}
.stat-card {
  width: 22%;
  margin: 5px;
}
.icon-wrap {
  margin-left: 5px;
  padding: 5px;
}
.stat-card i {
  font-size: 5vmin;
  color: rgb(196, 37, 37);
}
.stat-content {
  padding: 5px;
}
.stat-content p {
  font-size: 2vmin;
  color: gray;
}
.stat-content h2 {
  font-size: 4vmin;
}

@media (max-width: 500px) {
  .buttons {
    flex-direction: column;
  }
  aside {
    margin: 15px 0;
    height: max-content;
  }
  .select-wrap {
    margin: 5px 0;
  }
  .country-stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .stat-card {
    justify-content: center;
    width: 80%;
  }
}
