.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.hidden {
  visibility: hidden;
}
.center-self {
  margin: 0 auto;
}
.no-decoration {
  list-style: none;
  text-decoration: none;
}

.dropdown {
  width: 70%;
  text-align: center;
  padding: 5px;
}
.fill {
  height: 100%;
  width: 100%;
}
